body{
	background-color: black;
	font-family: 'Special Elite', cursive;
}

header {
	color: lime;
}

main {
	background-image: url('../images/hazard-back.jpg');
	height: 525px ;
	width: 700px;
}

#askForName {
	color: white;
}











































footer {
	color: lime;
}


